.errorMessageContainer {
  color: red;
  background-color: rgba(237, 165, 163, 0.4);
  text-align: center;
  width: 310px;
  border-radius: 5px;
}

.errorMessage {
  font-size: 17px;
  line-height: 26px;
  margin: 12px;
}
